*{
  font-family: "Roboto", sans-serif;
  color:#4D4D4D;
}

a{
  text-decoration: none;
  color: #F5F5F5;
}

a:hover{
  color: #4D4D4D;
}

.ingreds{
  display: none;
}

.recipeName{
  font-weight: bold;
  font-size: 40px;
}

.recipe{
  margin-bottom: 10px;
  background: #1ECDCE linear-gradient(to top left, #48A7D1 0%, #1ECDCE 100%);
 min-height: 100px;
 padding: 10px;
}

.recipes{
  list-style: none;
 
}

.error{
  color:#F5F5F5;
  margin: 10px 0px;
  padding: 10px;
  background: rgba(255,0,0, 0.5);
  display: none;
  width: 300px;
  text-align: center;
}

.health_selection{
  margin: 10px 0px;
}

.calories, .servings{
  float: right;
  background: rgba(255, 255,255, 0.5);
  border-radius: 10px;
  padding: 5px;
}